.cert-template-box{
        cursor:pointer;
        background: #ffdf7b;
        color : #242c37;
        font-size: 20px;
        font-weight: bold;
        padding: 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cert-template-box:hover{
        background:#d8d8d8;
    }

    .cert{
        /* padding: 12px;
        border-radius: 5px; */
        display: flex;
        justify-content: center;
    }

    img{
        background:#242c37;
        padding:10px;
        border-radius:45px;
    }