.cert-template-box{
        cursor:pointer;
        /* background: #ffdf7b; */
        background: #ffd140;
        /* color : #242c37; */
        color:black;
        font-size: 20px;
        font-weight: bold;
        padding: 12px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cert-template-box:hover{
        background:#007aff;
        color : #fff;
    }

    .cert{
        /* padding: 12px;
        border-radius: 5px; */
        display: flex;
        justify-content: center;
    }

    img{
        background: #003087;
        padding:10px;
        border-radius:45px;
    }