@media (min-width:768px) and (max-width :1025px) {
    .resume-link{
        text-align:center;  
    }
}

.custom-button{ 
    --sds-c-button-neutral-color-background-active: #ffd140;
    --sds-c-button-neutral-color-background:#ffd140;
    --sds-c-button-neutral-color-background-hover : #003087;
    --sds-c-button-text-color:  #003087;
    --sds-c-button-text-color-hover: white;
    --sds-c-button-neutral-color-border: white;
    --sds-c-button-neutral-color-border-hover: white;
    --sds-c-button-radius-border : 2rem;
    --sds-c-button-spacing-block-start : 12px;
    --sds-c-button-spacing-block-end : 12px;
}