img{
    height:60px;
    margin-right:16px;
}
h2{
    padding: 8px 16px;
    background: #003b73;
    font-weight: bold;
    font-size: 20px;
    color:  #fff;
    border-radius:5px;
}

.cert-box{
    background: #189ab4;
    color:#fff;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cert-box:hover{
    background:#0074b7;
    cursor:pointer;
    color:#fff;
}
.cert-box:hover .classic-theme{
    --slds-c-icon-color-foreground-default :#fff;
}

.classic-theme{
    --slds-c-icon-color-foreground-default :#003b73;
}