.slds-badge{
    --slds-c-badge-color-background: #f3ca20;
    /* --slds-c-badge-color-border :  #f6c403; */
    --slds-c-badge-text-color : black;
    font-size: 16px;
    font-weight: 700;
}

h2{
    padding: 8px 16px;
    background: black;
    font-weight: bold;
    font-size: 20px;
    color:  #fff;
    border-radius:5px;
}