.accordian-wrapper{
    background:#fff;
}
/* lightning-tab{
    background-image: url(https://www.transparenttextures.com/patterns/white-leather.png);
    background-color: #60cdff;
} */
.show-tabs-on-desktop-view{
    display:block;
}

.show-accordion-on-mobile-view{
    display:none;
}
@media (max-width : 1024px){
    .show-tabs-on-desktop-view{
        display : none;
    }

    .show-accordion-on-mobile-view{
        display:block;
    }

}