.slds-button_icon .chevron-down{
    transition-duration: .25s;
}

.slds-button_icon.de-active  .chevron-down{
    transform :rotateZ(-90deg);
}

.slds-timeline__item_task article{
    transition-duration: .25s;
}
.company-logo{
    height: 40px;
    width: 200px;
    margin-left:-40px;
}